# 상위 디렉토리의 설정 파일을 무시합니다.
config.stopBubbling = true

# Lombok이 생성한 코드에 @lombok.Generated 애노테이션을 추가합니다.
lombok.addLombokGeneratedAnnotation = true

# @Slf4j 등 로그 애노테이션 사용 시, 생성되는 필드 이름을 'log'로 고정합니다.
lombok.log.fieldName = log

# 빌더 클래스의 이름 패턴을 설정합니다. (예: Post -> PostBuilder)
lombok.builder.className = *Builder

# @Data, @Setter 애노테이션 사용 시 빌드 에러를 발생시킵니다.
lombok.data.flagUsage = error
lombok.setter.flagUsage = error